<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-train-my-suffix-heading" jhiTranslate="railwaysApp.train.home.createOrEditLabel">Create or edit a Train</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="railwaysApp.train.countPassengers" for="field_countPassengers">Count Passengers</label>
                    <input type="number" class="form-control" name="countPassengers" id="field_countPassengers"
                           formControlName="countPassengers"/>
                    <div *ngIf="editForm.get('countPassengers').invalid && (editForm.get('countPassengers').dirty || editForm.get('countPassengers').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('countPassengers').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('countPassengers')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="railwaysApp.train.numberTrain" for="field_numberTrain">Number Train</label>
                    <input type="number" class="form-control" name="numberTrain" id="field_numberTrain"
                           formControlName="numberTrain"/>
                    <div *ngIf="editForm.get('numberTrain').invalid && (editForm.get('numberTrain').dirty || editForm.get('numberTrain').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberTrain').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberTrain')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
