<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ticket">
            <h2><span jhiTranslate="railwaysApp.ticket.detail.title">Ticket</span> {{ticket.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="railwaysApp.ticket.registerDate">Register Date</span></dt>
                <dd>
                    <span>{{ticket.registerDate}}</span>
                </dd>
                <dt><span jhiTranslate="railwaysApp.ticket.passenger">Passenger</span></dt>
                <dd>
                    <div *ngIf="ticket.passengerId">
                        <a [routerLink]="['/passenger-my-suffix', ticket.passengerId, 'view']">{{ticket.passengerId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="railwaysApp.ticket.train">Train</span></dt>
                <dd>
                    <div *ngIf="ticket.trainId">
                        <a [routerLink]="['/train-my-suffix', ticket.trainId, 'view']">{{ticket.trainName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ticket-my-suffix', ticket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
